<!-- <div *ngIf="flag">
  user added message
</div>

<div *ngIf="flag || msg">
  Any one should be true
</div>


<div *ngIf="flag" else error_block >Added</div>
<ng-template #error_block>
  Not added
</ng-template> -->


<div *ngIf="flag; then updated_msg else error_block"></div>
<ng-template #updated_msg>User was updated</ng-template>
<ng-template #error_block>User was not updated</ng-template>


<ul>
  <li *ngFor="let emp of employees; index as i; first as f; last as l;even as e; odd as o">
    <!-- <div *ngIf="f" style="background-color: blue">First Record</div>
    <div *ngIf="l" style="background-color: blue">Last Record</div> -->
    <!-- {{i}} {{emp.empName}} -->
    <div *ngIf="e" style="background-color:brown"> {{i}} {{emp.empName}}</div>
    <div *ngIf="o" style="background-color:orange"> {{i}} {{emp.empName}}</div>
 
  </li>
</ul>

<div [ngSwitch]="superHero">
  <div *ngSwitchCase=" 'batman' " >This is batman</div>

  <div *ngSwitchDefault>Super Hero under construction</div>

</div>

<h2>NgStyle</h2>
<div [ngStyle]="{'background-color':'red'}">
  This is a div of color green
</div>

<div [ngStyle]="{'color':textColor ==='blue' ? 'blue' : 'green' }">
  Hello..
</div>


<div [ngClass]="'myClass'"> This ngClass</div>


<div [ngClass]="classProp">This is me</div>

<h2 appMyCustomStyle>  Hoii baal----</h2>